/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
    background: #2B4B82;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Styles */
header {
    background-color: #F2ADA7;
    padding: 20px;
}

.logo {
    font-style: italic;
    font-size: 24px;
    color: white;
}

.links {
    display: flex;
    align-items: center;
}

.links li {
    margin-left: 30px;
    color: #F2ADA7;
    cursor: pointer;
    transition: .3s;
}

.links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
}

/* Projects Page Styles */
.projects-page {
    color: #5d5d5d;
    padding-top: 20px;
}

.projects-page .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projects-page .content h1 {
    color: #5d5d5d;
    font-size: 32px;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    line-height: 1.5;
}

/* Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: #F2ADA7;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
